.developer-contact {
  padding-top: 16px;
  margin-top: 26px;
  border-top: 1px solid #e5e5e5;

  & svg {
    fill: #63d1bb;
  }

  &:hover svg {
    fill: #46c1ae;
  }

  &:active svg {
    opacity: 0.3;
  }

  &:active .developer-contact__text {
    opacity: 0.3;
  }
}

.developer-contact__text {
  display: inline-block;
  vertical-align: middle;
  padding: 7px 0;
  margin-left: 38px;
  padding-right: 25px;
  font-weight: 700;
  font-size: $developer-contact-fontsize;
  font-style: normal;
  text-decoration: none;
  color: #000000;
}

.developer-contact__link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 6px;
  font-size: 0;
}

@media (min-width: $tablet-width) {
  .developer-contact {
    padding: 0;
    margin-top: 0;
    border: none;

    &::before {
      left: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .developer-contact {
    padding-top: 2px;
  }
}
