.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%) scale(0);
  display: block;
  padding: 40px 30px;
  padding-top: 29px;
  width: 320px;
  height: 335px;
  background-color: #ffffff;
  border: 1px solid #c7c7c7;
  box-sizing: border-box;
  box-shadow: 0px 5px 13px 0px rgba(198,198,198,1);
  transition: 0.3s;

  &--show {
    transform: translate(-50%, -50%) scale(1);
  }
}

@media (min-width: $tablet-width) {
  .modal-window {
    width: 567px;
    padding-top: 47px;
  }
}
