.page-footer {
  padding: 20px 30px;
  padding-top: 25px;
  padding-bottom: 29px;
  background-color: #f1f1f1;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 670px;
    margin: 0 auto;
  }

  .page-footer__logo {
    display: block;

    & svg {
      transition: 0.3s;
      fill: #231f20;
    }

    &:hover svg {
      fill: #46c1ae;
    }

    &:active svg {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 100%;
    max-width: 1050px;
  }

  .page-footer__logo {
    margin-left: 3px;
  }
}
