.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 170px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  list-style: none;
}

.social-list__item {
  position: relative;
  width: 30%;
  font-size: 0;
  text-align: center;
}

.social-list__link {
  display: block;

  & svg {
    fill: #221f1f;
  }

  &:hover svg {
    fill: #46c1ae;
  }

  &:active svg {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social-list {
    padding: 0;
    padding-left: 120px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .social-list {
    padding: 0;
    padding-top: 5px;
    padding-left: 120px;
    border: none;
  }
}
