@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff") format('woff'),
       url("../fonts/opensans.woff2") format('woff2');
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff") format('woff'),
       url("../fonts/opensansbold.woff2") format('woff2');
}

body {
  min-width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
  font-size: $basic-fontsize;
  font-family: "Open Sans","Arial",sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: $tablet-width) {
  body {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  body {
    width: 100%;
    min-width: 1150px;
  }
}
