@import "normalize.css";
@import "variables.css";
@import "mixins.css";
@import "global.css";
@import "blocks/page-header.css";
@import "blocks/page-footer.css";
@import "blocks/main-nav.css";
@import "blocks/banner-wrapper.css";
@import "blocks/page-title.css";
@import "blocks/catalog-links.css";
@import "blocks/week-product.css";
@import "blocks/aboutus-block.css";
@import "blocks/comments.css";
@import "blocks/comment.css";
@import "blocks/contacts.css";
@import "blocks/social-list.css";
@import "blocks/developer-contact.css";
@import "blocks/catalog-wrapper.css";
@import "blocks/product.css";
@import "blocks/video-block.css";
@import "blocks/order-description.css";
@import "blocks/order-form-wrapper.css";
@import "blocks/order-form.css";
@import "blocks/modal-window.css";
@import "blocks/size-form.css";
